body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    transition: background-color 0.3s;
}

.initial {
    backgground-color: white;
}

.changed {
    background-color: red;
}